body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 60px auto;
}

.weather-app {
  padding: 40px;
  border: 1px solid black;
  border-radius: 15px;
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.temperature {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
}

.unit {
  position: relative;
  font-size: 16px;
  top: -24px;
}

.weather-forecast {
  margin: 40px 0 20px 0;
  text-align: center;
  color: black;
  background-color: rgba(39, 33, 66, 0.05);
  border-radius: 30px;
  padding: 20px 20px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.4;
}

.weather-forecast-temperature-min {
  opacity: 0.4;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
